.Prompt {
  position: absolute;
  left: 37vw;
  top: 5vh;
  font-size: 22px;
  font-family: Barlow;
}

.Input {
  box-sizing: border-box;
  border-radius: 12px;
}

.Container {
  position: absolute;
  border: 2px solid #d7e2ea;
  border-radius: 12px;
  left: 35vw;
  top: 10vh;
  width: 55vw;
  height: 70vh;
  padding-left: 38px;
  padding-right: 5px;

  padding-top: 32px;
  background-color: #ffffff;
}

.Post {
  position: absolute;
  cursor: pointer;
  right: 7vw;
  bottom: 8vh;
  border: 2px solid #d7e2ea;
  border-radius: 50px;
  width: 100px;
  height: 40px;
  font-size: 22px;
  font-family: Barlow;
}

.Upload {
  position: absolute;
  cursor: pointer;
  right: 1vh;
  bottom: 1vh;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

textarea {
  width: 53vw;
  height: 65vh;
  resize: none;
  font-size: 18px;
  font-family: "Barlow";
  color: #b2b2b2;
  border: none;
  /*outline: none;*/
}

img {
  width: 20px;
  height: 20px;
}
